<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <style>
            ul.b {
                list-style-type: square;
            }
            .body {
                background-color: #a0b0bf81;
                padding: 1%;
            }
        </style>
    </head>
    <body class="body">
        <hr>
        <center><h1>Bienvenido a la APP de Plexus: </h1></center>
        <hr>
        <h3>Datos del Usuario: </h3>
        <ul class="b">
        <li> <B> Nombre: </B> <p style="display: inline;" th:text="${nombre}"></p></li>    
        <li> <B> Email: </B><p  style="display: inline;"th:text="${email}"></p></li>
        <li> <B> Password: </B><p style="display: inline;" th:text="${password}"></p></li>
        </ul>
        <br>
        <hr>
        <center>
            <h2><a href="http://localhost:8082/login">Confirme su registro</a></h2>
            <h4>Atte Plexus</h4>
        </center>
        <br>
        <hr>
        <div>
        <img src="https://i1.wp.com/galicia.makerfaire.com/wp-content/uploads/sites/7/2016/06/Plexus.png?ssl=1" alt="Smiley face" width="90%" height="40%">
        </div>
    </body>
</html>